<%- include Partials/header.ejs %>

<body class="bg-light" style="background-image: url(/Assets/images/background.jpg); background-size: cover; background-position: center; position: relative;">
    <div class="container">
        <%- include Partials/main_nav.ejs %>

        <div class="row justify-content-center align-items-center min-vh-100" style="position: relative; z-index: 1;">
            

            <div class="col-md-8">
                <div class="p-4 rounded bg-light shadow" style="border: 6px solid rgb(12, 34, 61);">

                    <h1>About Us</h1>
                    <p>
                        We provide a seamless, efficient work scheduling solution designed to simplify workforce management. Our platform allows teams to create, view, and adjust schedules with ease, ensuring smooth coordination and maximizing productivity. Whether you're managing shifts or tracking availability, our tools support businesses of all sizes to keep operations running smoothly.
                    </p>
                    <div class="mt-4">
                        <p>Visit our Project Source Code Through our Github:</p>
                        <a href="https://github.com/your-repo-name" target="_blank" class="btn" style="background-color: rgb(12, 34, 61); color: white; font-size: 30px; border-radius: 5px;"> <i class="fa-brands fa-github"></i></a> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include Partials/footer.ejs %>
</body>
