<%- include Partials/header.ejs %>

<body class="bg-light" style="background-image: url(/Assets/images/background.jpg); background-size: cover; background-position: center; position: relative;">
    <div class="container" >
        <%- include Partials/main_nav.ejs %>

        <div class="row justify-content-center align-items-center min-vh-100" style="position: relative; z-index: 1;">
            <div class="col-md-4 text-center">
                <img src="/Assets/images/Logo.jpg" alt="Logo" style=" border: 6px solid rgb(12, 34, 61); margin-top: 60px; width: 250px; height: 250px; border-radius: 50%;">

                                    <a href="/workslist" class="btn mt-4" style="background-color: rgb(12, 34, 61); color: white; font-size: 30px; border-radius: 5px;">GO TO SCHEDULE</a>

            </div>


            </div>
        </div>
    </div>

    <%- include Partials/footer.ejs %>
</body>
